<h1>List of Books</h1>
<div class="row">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Title</th>
        <th>ISBN</th>
        <th>Authors</th>
        <th>No Of Pages</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let book of books">
        <td><a [routerLink]="['/books', book.isbn]">{{book.title}}</a></td>
        <td>{{book.isbn}}</td>
        <td>{{book.authors.join(',')}} </td>
        <td> {{book.pageCount}}</td>
      </tr>
    </tbody>
  </table>
</div>
