<div class="row">
  <div class="col-md-4"><h1>List of Books</h1></div>
  <div class="col-md-2"></div>
  <div class="col-md-4">
    <form #searchForm="ngForm" (ngSubmit)="search(searchForm.value)" autocomplete="off" novalidate class="form-inline my-2 my-lg-0">
      <input [(ngModel)]="searchTerm" name="searchTerm" id="searchTerm" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
  <div class="col-md-2">
    <button class="btn btn-primary" (click) ="add()">Add New</button>
  </div>
</div>

<div class="row">
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>Title</th>
        <th>ISBN</th>
        <th>Authors</th>
        <th>No Of Pages</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let book of books">
        <td><a [routerLink]="['/books', book.isbn]">{{book.title}}</a></td>
        <td>{{book.isbn}}</td>
        <td>{{book.authors.join(',')}} </td>
        <td> {{book.pageCount}}</td>
      </tr>
    </tbody>
  </table>
  <!-- <app-modal-dialog title ="Add book"></app-modal-dialog> -->
</div>
